<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>159668494313-3s9l0itpo6rq7u26sr1q71bhtklv410d.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.159668494313-3s9l0itpo6rq7u26sr1q71bhtklv410d</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>159668494313-c0juklam8qmo1bjjbahp0ihvdm68166h.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyBPR7b-IUAekqGNWYdSAQxGWDN2ow8rLAM</string>
	<key>GCM_SENDER_ID</key>
	<string>159668494313</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.untitled24</string>
	<key>PROJECT_ID</key>
	<string>udemy-course-2be94</string>
	<key>STORAGE_BUCKET</key>
	<string>udemy-course-2be94.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:159668494313:ios:3b7300b5d6b8837280f578</string>
</dict>
</plist>